*{
    margin: 0;
    padding: 0;
}

header{

    background: black;
    margin-bottom:50px; 
    width: 100%;
    position: sticky;
    z-index: 1;
}


.logo {
    border: 5px solid rgb(6,69,152);
    border-radius: 50%;
    font-size: 46px;
    color: #064598;
    position: relative;
    top: 25px;
    left: -15px;
}

nav{

    position: relative;
    top:-22px;
    left:54px;
}

nav ul {
   
    position: relative;
    float:right;
}

nav ul li {
    display: inline;
    padding:0px 40px 0px 40px;
    list-style: none;
}

nav ul li a{
    font-size: 21px;
    color: #064598;
}

.jumbotron{
    background-image: url(../image/enterprise-asset-management-1-800x500.jpg);
    background-size: cover;
    height: 539px !important;
}
body{
    background-color: rgb(104,106,108);
}
.section1 img {
    width:99%;
}

.mivi{
    background-color: #064598;
  
}



.mivi h3{
    text-align: center;
}

.mivi p{
    text-align: justify;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    display:none;
}

.sect{
    margin-bottom: 33px;
}

.jumbo2{
    background-image: url(../image/banner-1020369__340.jpg);
    background-size: cover;
}

.jumbo2 .container h1 {
    position: relative;
    top: 343px;
    left: -122px;
    font-weight: bolder;
}

.section2{
    border: 4px solid  #064598;
    background: #000000;
    color:  #064598;
    text-align: center;
    font-size: 30px;

}

.jumbo3{
    background-image: url(../image/Asset-Management.png);
    text-align: center;
    width: 100%;
}

.jumbo3 .container h2 {
    position: relative;
    bottom: -305px;
    color: #064598;
    font-weight: bolder;  
}
.jumbo3 .container h3 {
    position: relative;
    bottom: -310px;
    font-weight: bolder;  
}

.jumbo4{
    background-image: url(../image/pocket-watch-1637394_960_720.jpg);
    background-size: cover;
    text-align: center;
}

.jumbo4 .container h3 {
    position: relative;
    bottom: -310px;
    color: #000006;
    font-weight: bolder;  
}

.display-3{
    opacity:0;
}

.display-3.show{
    opacity: 1;
    transition: 5000ms;
}


footer {
    background: black;
    margin-top: 100px;
    padding: 30px 0;
}

.wrapper {
    display: flex;
    margin: 0px auto;
}

.footer-box {
    width: 23%;
    margin-top: 1%;
    margin-left: 2%;
    color: #064598;
}

.footer-box li {
    list-style-type: none;
}

.footer-box li a {
    color:  #064598;
    text-decoration: none;
}

.fa {
    color: #064598;
    font-size: 20px !important;
}